<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>消费实时监控</title>
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/socket.io.js"></script>
    <!-- ECharts 3 引入 -->
    <script src="https://cdn.bootcss.com/echarts/4.7.0/echarts.min.js"></script>
    <link href="../static/styles/navigation.css" rel="stylesheet" type="text/css"/>
</head>
<header>
    <div class = "header">
    <nav>
        <ul class="header_ul">
            <li><a href="index" title="首页" target="_self">首页</a> </li>
            <li><a href="city" title="城市" target="_self">城市</a> </li>
            <li><a href="gender" title="性别" target="_self">性别</a> </li>
            <li><a href="payment" title="支付方式" target="_self">支付方式</a> </li>
            <li><a href="goods_type" title="消费类型" target="_self">消费类型</a> </li>
        </ul>
    </nav>
</div>
</header>
<body>
<!--为ECharts准备一个具备大小（宽高）的Dom-->
<div id="main" style="height:500px;border:1px solid #ccc;padding:10px;"></div>

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));

    myChart.setOption({
        title: {
            text: '男女性消费实时监控'
        },
        tooltip: {},
        legend: {
            data:['男性','女性']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'male',
            type: 'line',
            data: []
        },{
            name: 'female',
            type: 'line',
            data: []
        }]
    });


    var time = ["","","","","","","","","",""],
        male = [0,0,0,0,0,0,0,0,0,0],
        female = [0,0,0,0,0,0,0,0,0,0]

    //准备好统一的 callback 函数
    var update_mychart = function (res) { //res是json格式的response对象

        // 隐藏加载动画
        myChart.hideLoading();

        // 准备数据
        time.push(res.data[0]);
        male.push(parseFloat(res.data[5]));
        female.push(parseFloat(res.data[6]));
        if (time.length >= 10){
            time.shift();
            male.shift();
            female.shift();
        }

        // 填入数据
        myChart.setOption({
            xAxis: {
                data: time
            },
            series: [{
                name: '男性', // 根据名字对应到相应的系列
                data: male
            },{
                name: '女性',
                data: female
            }]
        });

    };

    // 首次显示加载动画
    myChart.showLoading();


    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
    $(document).ready(function() {
        namespace = '/dashboard';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('server_response', function(res) {
            update_mychart(res);
        });

    });

</script>
</body>
</html>